# Dependencies
node_modules/

Text-Changes/
settings.local.json

# Build output
dist/

# Environment variables
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Astro
.astro/

# Local Netlify folder
.netlify
